.navigation{
    color: wheat;
    font-weight: bold;
    display: flex;
    justify-content: center;
    /* transform: rotate(90deg); */
    /* position: fixed; */
}
.nav-li{
    margin-left: 50px;
    display: flex;
    font-size: 20px;
}

.container{
    background-color: black;
    width: 100%;
    height: 100vh;
}
header{
    position: relative;
}
.header-inner{
    position: absolute;
    width: 500px;
    transform: rotate(90deg);
    /* float: right; */
    right: -150px;
    top: 300px;;
}
.sec-1{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.div-logo{
    display: flex;
    align-items: center;
}
.right{
    color: rgb(255, 0, 43);
    font-weight: bold;
    font-size: 30px;
}
.section-inner{
    position: relative;
}
.saxeli{
    position: absolute;
    right: 50px;
    bottom: 50px;
}
.heading{
    font-weight: bold;
    font-size: 25px;
    color: rgb(255, 0, 43);
}
.footer{
    color: white;
}
.span{
    color: red;
}

.eclipse{
    max-width: 450px;
    width: 100%;
    position: absolute;
    filter: blur(3px);
}
.anonymous{
    max-width: 400px;
    width: 100%;
    position: relative;
    top: 40px;
    /* margin-top: 60px; */
    z-index: 4;
}
.sec-2{
    display: flex;
    justify-content: center;
    margin-top: -13px;
}
.sec-3{
    /* margin-top: 50px; */
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.footer{
    margin-left: 50px;
}
.social-icons{
    margin-right: 50px;
}